@using System.Threading.Tasks
@using SignalRDemo.WebHost.ViewModels
@model SignalRDemo.WebHost.ViewModels.HomeViewModel

@{
    ViewBag.Title = @Model.Title;
    Layout = "_Layout";
}

    <div class="panel-heading"> @Model.Title </div>
