@using System.Threading.Tasks
@using SignalRDemo.WebHost.ViewModels
@model SignalRDemo.WebHost.ViewModels.HomeViewModel

@{
    ViewBag.Title = @Model.Title;
    Layout = "_Layout";
}

<div class="containeer col-lg-12">
    <div class="row">
        <div class="col-lg-2">
            <h3>@Model.Title</h3>
        </div>
    </div>

</div>
